name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  cli:
    name: CLI
    runs-on: ubuntu-latest
    steps:
      name: Checkout repository
      uses: actions/checkout@v4
